body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #101010;
  color: white;
}

/* kenneth's sub_navbar */
#sub_navbar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#sub_navbar li {
  list-style-type: none;
  float: left;
}

#sub_navbar li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
}

/* cards css */
.card {
  background-color: #6e6e6e;
}

#card_title,
#card_text {
  color: white;
  text-decoration: none;
}

.card .card-body ul {
  color: white;
}

a {
  text-decoration: none;
}
