/* Global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.fs-large {
  font-size: large;
}

/* Nav */
nav {
  background-color: rgb(46, 46, 46);
}

.nav-pill .selected {
  color: #1ef2c1;
}

.nav-btn-pill {
  border-radius: 10px;
}

.nav-pill a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  z-index: 1;
}

.nav-pill .leftLinks:before,
.nav-pill .rightLinks:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  /* background-color: #1ef2c1; */
  z-index: -1;
  transform: 2s;
  transition-timing-function: linear;
}

.nav-pill .leftLinks:before {
  -webkit-transform: skewX(40deg);
  -moz-transform: skewX(40deg);
  border: solid 1px #1ef2c1;
}

.nav-pill .rightLinks:before,
.nav-pill .rightLinks:after {
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  border: solid 1px #1ef2c1;
}

.nav-pill .rightLinks:hover,
.nav-pill .leftLinks:hover,
.nav-end:hover {
  color: #1ef2c1;
}

@media screen and (max-width: 600px) {
  .nav-pill .leftLinks:before,
  .nav-pill .rightLinks:before {
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .navbarStyle img {
    display: block;
    margin: 10px auto;
  }
}

@media screen and (max-width: 991px) {
  .navbarStyle a {
    display: block;
    margin: 10px 0;
  }

  .navbarStyle .leftLinks:before,
  .navbarStyle .rightLinks:before {
    left: 0;
    right: 0;
    transform: none;
  }

  .navbarStyle img {
    display: block;
    margin: 10px auto;
  }
}
